<style type="text/css">

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel{
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

tr{
height:35px;
}
</style>
<body>
	<div class="panel shadow">
		<div class="panel-body">

		<div class="alert alert-success" id="import-success-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Data imported successfully{% endtrans %} <b id='filename'></b>.
		</div>
		<div class="alert alert-danger" id="import-failure-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Something went wrong.{% endtrans %}
		</div>
		<div class="alert alert-danger" id="import-duplicate-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Duplicate Entry Exists.{% endtrans %}
		</div>
			<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Godown created successfully.{% endtrans %}
			</div>

			<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Godown could not be created.{% endtrans %}
			</div>

			<div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Godown already exists!{% endtrans %}
			</div>

			<div class="col-sm-6">
				<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Please enter godown name!{% endtrans %}
				</div>
				
				<div class="form-group">
				
					<label for="godownname" id="godnname">
					{% trans %}Godown Name {% endtrans %}: </label><label for="godownname" style="color:red;font-size: 120%;">*</label>
					<input type="text" id="godownname" class="form-control input-sm" name="godownname"></input>
				</div>
					
				<div class="alert alert-danger" id="stateblank-alert"  aria-live="rude" role="alert" hidden>

					{% trans %}Please select state!{% endtrans %}
				</div>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godownstate" id="godnstate">{% trans %}State{% endtrans %} : </label><label for="godownstate" style="color:red;font-size: 120%;">*</label>
					<select id="godownstate" class="form-control input-sm tax_state">
						<option value="" disabled selected hidden>Select a State</option>
						<option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
						<option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
						<option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
						<option value="Assam" stateid="4">Assam</option>
						<option value="Bihar" stateid="5">Bihar</option>
						<option value="Chandigarh" stateid="6">Chandigarh</option>
						<option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
						<option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
						<option value="Daman and Diu" stateid="9">Daman and Diu</option>
						<option value="Delhi" stateid="10">Delhi</option>
						<option value="Goa" stateid="11">Goa</option>
						<option value="Gujarat" stateid="12">Gujarat</option>
						<option value="Haryana" stateid="13">Haryana</option>
						<option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
						<option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
						<option value="Jharkhand" stateid="16">Jharkhand</option>
						<option value="Karnataka" stateid="17">Karnataka</option>
						<option value="Kerala" stateid="19">Kerala</option>
						<option value="Lakshadweep" stateid="20">Lakshadweep</option>
						<option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
						<option value="Maharashtra" stateid="22">Maharashtra</option>
						<option value="Manipur" stateid="23">Manipur</option>
						<option value="Meghalaya" stateid="24">Meghalaya</option>
						<option value="Mizoram" stateid="25">Mizoram</option>
						<option value="Nagaland" stateid="26">Nagaland</option>
						<option value="Odisha" stateid="29">Odisha</option>
						<option value="Pondicherry" stateid="31">Pondicherry</option>
						<option value="Punjab" stateid="32">Punjab</option>
						<option value="Rajasthan" stateid="33">Rajasthan</option>
						<option value="Sikkim" stateid="34">Sikkim</option>
						<option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
						<option value="Telangana" stateid="36">Telangana</option>
						<option value="Tripura" stateid="37">Tripura</option>
						<option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
						<option value="Uttarakhand" stateid="39">Uttarakhand</option>
						<option value="West Bengal" stateid="41">West Bengal</option>
					</select>
				</div>
				<div class="alert alert-danger" id="addressblank-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Please enter address!{% endtrans %}
				</div>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godownaddress" id="godnaddress">{% trans %}Address{% endtrans %} : </label><label for="godownaddress" style="color:red;font-size: 120%;">*</label>
					<textarea type="text" id="godownaddress" class="form-control" name="godownaddress"></textarea>
				<small id="gdtextareahelp" class="form-text text-muted">Press 'Enter' Key twice to shift focus to Contact Person.</small>
				<input type="hidden" id="goid" class="form-control" name="goid" ></input>
				</div>
					<div style="margin-top: -1%;">
					<label for="godowncontactname" id="godnname">{% trans %}Contact Person{% endtrans %} : </label>
					<input type="text" id="godowncontactname" class="form-control input-sm" name="godownname"></input>
				</div></br>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godowncontact" id="godncontact">{% trans %}Contact Number{% endtrans %} : </label>
					<input type="text" id="godowncontact" class="form-control input-sm" name="godowncontact"></input>
				</div>
		</div>
		{%if not gkresult%}
		<div id="listtable" class="col-sm-6" hidden>
		<div class="form-group">
				<label>{% trans %}List of last 5 created Godowns{% endtrans %} : </label>
				<div class="panel">
					<table id="latable" class="table shadow table-bordered">
						<thead>
							<tr>
								<th class="lalign">
								{% trans %}Godown Name{% endtrans %}
								</th>
								<th class="lalign" >
								{% trans %}State{% endtrans %}
								</th>
								<th class="lalign" >
								{% trans %}Address{% endtrans %}
								</th>
							</tr>
						</thead>
						<tbody style="height: auto;">
						{% for record in gkresult %}
						<tr	value="{{record["godownid"]}}">
							<td class="smwrap lalign">
								{{record["godownname"]}}
							</td>
							<td class="smwrap lalign" >
								{{record["godownstate"]}}
							</td>
							<td class="smwrap lalign">
								{{record["godownaddress"]}}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
		</div>
		</div>
		{%else%}
		<div id="listtable" class="col-sm-6">
		<div class="form-group">
				<label>{% trans %}List of last 5 created Godowns{% endtrans %} : </label>
				<div class="panel">
		<table id="latable" class="table shadow table-bordered">
				<thead>
					<tr>
						<th class="lalign">
						{% trans %}Godown Name{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}State{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}Address{% endtrans %}
						</th>
					</tr>
				</thead>
				<tbody style="height: auto;">
				{% for record in gkresult %}
				<tr	value="{{record["godownid"]}}">
					<td class="smwrap lalign">
						{{record["godownname"]}}	
					</td>
				<td class="smwrap lalign" >
						{{record["godownstate"]}}
						
					</td>
					<td class="smwrap lalign">
						{{record["godownaddress"]}}
					</td>
				</tr>
				{% endfor %}
				</tbody>
		</table>
				</div>
		</div>
		</div>			
		
		{%endif%}
		</div>
			<div class="panel-footer">
				<div class="container-fluid">
				<button type="submit" class="btn btn-success btn-sm" id="gdnsubmit" name="submit">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true" accesskey="s"></i> <u>S</u>ave{% endtrans %}</button>
					<button id="gdnreset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
					<button id="lists" class="btn btn-info btn-sm" accesskey="g">
						{% trans %}<i class="fa fa-list" aria-hidden="true"></i> List of all <u>G</u>odowns{% endtrans %}
					</button>
					<label class="btn btn-primary btn-sm" for="my-file-selector">
                    <input name="spreadsheet" accesskey="o" class="input-sm" id="my-file-selector" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;" type="file">
                    <i class="fa fa-download" aria-hidden="true"></i> Imp<u>o</u>rt
                	</label>
	      			<i class="fa fa-question-circle" style="font-size:16px;color:black;"data-toggle="modal" data-target="#ImportHelpModal"></i>
				</div>
			</div>
			<div id="confirm_yes_print" class="modal" tabindex="-1" role="dialog">
            <div class="vertical-alignment-helper">
              <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{% trans %}Import{% endtrans %}</h4>
                  </div>
                  <div class="modal-body">
				  	<span id="upload-file-info"></span><br><br>
                    <p>{% trans %}Are you sure?{% endtrans %}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id ="tn_save_noprint" class="btn btn-warning" data-dismiss="modal">{% trans %}<i class="fa fa-times" aria-hidden="true"></i> No{% endtrans %}</button>
                    <button type="button" id="tn_save_yesprint" data-dismiss="modal" class="btn btn-success">{% trans %}<i class="fa fa-check" aria-hidden="true"></i> Yes{% endtrans %}</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
          </div>
		<div id="ImportHelpModal"  tabindex="-1" class="modal fade " role="dialog"style="width:650px; margin-top: 50px; margin-left:300px;"  aria-hidden="true">
			<div class="modal-dialog bgcolor " >
    			<div class="modal-content ">
    				<div class="modal-header">
        				{% trans %}<strong>Import Instructions</strong>{% endtrans %}
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
          				</button>
					</div>
      				<div class="modal-body" style="text-align: justify; text-justify: inter-word;">
				        <p>
						<font color="#566573">{% trans %}
						<b>Please read and follow the instructions carefully for smooth and flawless Godown data import.</b><br>
						To import list of godowns in GNUKhata a certain format is necessary.<br>
						A downloadedable sample spreadsheet is available below.<br>
						<b>Please maintain column names in following order:</b><br>
						Godown Name(A1), Godown Address(B1), State(C1), Contact Person(D1), Contact Number(E1)<br>
						<b>States should be in following format:</b><br>
						{%endtrans %}
						{% for state in states %}
				  			{% for key, value in state.items() %}
				    		{{value}},
				  			{% endfor %}
						{% endfor %}<br><br>
						{% trans %}
						<b>Sample Spreadsheet Format for Godown Import: </b><br>
						{% endtrans %}
						<font color="#008000">{% trans %}
						Godown_Import_Sample_Spreadsheet.xlsx
						{% endtrans %}
						</font>
						<a href="../static/spreadsheets/Godown_Import_Sample_Spreadsheet.xlsx" download="Godown_Import_Sample_Spreadsheet.xlsx">
						<i id="SampleSheet" class="fa fa-download btn btn-sm" aria-hidden="true" style="color:#008000"></i>
						</a><br>
						 </font>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="errorDisplay" tabindex="-1" class="modal fade " role="dialog" style="width:1000px; margin-top: 50px; margin-left:100px;"  aria-hidden="true">
			<div class="modal-dialog bgcolor" >
				<div class="modal-content ">
					<div class="modal-header">
						{% trans %}<strong>Error occured during godwon import</strong>{% endtrans %}
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
          				</button>
					</div>
					<div id="errorbody" class="modal-body">
						<strong id=errormsg></strong>
							<table id="errortable" class="table shadow table-bordered">
								<thead>
									<tr>
									<th class="lalign " >
									{% trans %}Row No{% endtrans %}
									</th>
									<th class="lalign">
									{% trans %}Godown Name{% endtrans %}
									</th>
									<th class="lalign">
									{% trans %}Godwon Address{% endtrans %}
									</th>
									<th class="lalign">
									{% trans %}State{% endtrans %}
									</th>
									<th class="lalign" >
									{% trans %}Contact Person{% endtrans %}
									</th>
									<th class="lalign" >
									{% trans %}Contact Number{% endtrans %}
									</th>
									</tr>
								</thead>
								<tbody id="errortablebody" style="height: auto;">
								{# {% for record in gkresult %}
								<tr	value="{{record["godownid"]}}">
									<td class="smwrap lalign">
									{{record["godownname"]}}
									</td> #}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		<div id="listofgodownspopup">
		</div>
	</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/creategodown.js')}}"></script>
</body>
