<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Budget Report{% endtrans %}</title>
  {% if menuflag == '2' %}
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
  {%else%}
  <style>
.panel{
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 5px;
}

.table{
    width:100%;
    overflow:hidden;
    display:block;
}

</style>
  {% endif %}
</head>
<body>
{% if menuflag == 2 %}
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Budget Report{% endtrans %}
            <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#accModal"></i>
      </div>
      <div class="panel-body" style="padding-top:5px">
      <div class="alert alert-danger" id="b_list-alert" aria-live="rude" role="alert" hidden>
          <label for="b_list">{% trans %}Please select budget!{% endtrans %}</label>
        </div>
            <div id="budgettype" class="col-xs-12 from-group">
            <label for="budgettype" style="padding-top:2%">{% trans %}Type of Budget{% endtrans %} :
            </label><br>
              <input type="radio"  name="budtypess" id="cash" aria-label="Cash Budget" value="3" checked> <label>Cash</label>
              <input style="margin-left:20px" type="radio"  name="budtypess" id="pnl" aria-label=" Expense Budget" value="16" > <label id="prolos"></label>  
            </div >
            <div class="col-xs-12 from-group">
              <div id="nobudget" class="bg-danger" style="text-align:center;margin-top:2%;padding:5px">
                <label class="text-danger" >{% trans %}<b>No Budget Found!<b>{% endtrans %}
              </div>
            </label>
            <div id = "bdgt_list" >
              <label for="b_list" style="padding-top:2%">{% trans %}List of Budgets{% endtrans %} :
              
              </label>
              <select class = "form-control input-sm" id="b_list">
              <option value="" disabled selected hidden>{% trans %}Select Budget{% endtrans %}</option>
              </select>
            </div>
          <br>
        </div>
      </div>
      <div id="foot"class="panel-footer" style="padding-left:3%">
        <button class="btn btn-primary btn-sm" id="submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
        <button id="report_back" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<u>B</u>ack{% endtrans %}</button>
      </div>
    </div>
  </div>
  {%else%}
  <div class="container-fluid" style="padding:1 !important; margin:0 !important;">
      <div class="panel shadow" style="border: 1px solid ;">
        <div class="panel panel-body">
        <i class="fa fa-question-circle pull-right" style="font-size:16px"data-toggle="modal" data-target="#accModal"></i>
          <div class="panel col-md-4" id="viewreportpage">
          <div class="alert alert-danger" id="b_list-alert" aria-live="rude" role="alert" hidden>
            <label for="b_list">{% trans %}Please select budget!{% endtrans %}</label>
          </div>
            <div class="form-group col-xs-12" >
              <div id = "budgettype" style="margin-bottom: 1%; margin-top:2%" class="input-group col-xs-12">
                <label for="BudgetType" name="budgettype">{% trans %}Budget Type :{% endtrans %}</label><br>
                    <input type="radio"  name="budtypess" id="cash" aria-label="Cash Budget" value="3" checked> <label>Cash </label>
                    <input  style="margin-left:25px" type="radio"  name="budtypess" id="pnl" aria-label=" Expense Budget" value="16" > <label id="proloss"></label>  
              </div>

              <div id="nobudget" class="bg-danger" style="text-align:center;margin-top:2%;padding:5px">
                  <label class="text-danger" >{% trans %}<b>No Budget Found!<b>{% endtrans %}
                </div>

              <div id = "bdgt_list" class="input-group col-xs-12">
                <label for="b_list" style="padding-top:2%">{% trans %}List of Budgets{% endtrans %} :
                </label>
                <select class = "form-control input-sm" id="b_list">
                <option value="" disabled selected hidden>{% trans %}Select Budget{% endtrans %}</option>
                </select>
              </div> {# list of budget#}
            </div>
          </div>
          <div id="reportpage" class="panel col-xs-12">
          </div>
          <div id="printreportpage" class="panel col-md-12">
          </div>
        </div>
        <div id="foot"class="panel-footer" style="padding-left:3%">
                <button class="btn btn-primary btn-sm" id="submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
      </div>
    </div>
  {%endif %}
  <input hidden id="menuflag" value={{menuflag}}>

  <div id="accModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
      <div class="modal-dialog bgcolor " >
        <div class="modal-content ">
          <div class="modal-header">
            {% trans %}<strong>Help!</strong>{% endtrans %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> </div> 
          <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
    
            <p>   <font color=" #566573" style="font-weight:normal"> {%trans%}
                This module lets you view budget reports.  Budget reports help you to match actual figures at the end of budget period with the estimated figures of a budget.<br>
                To view a budget report, first choose the type of budget. This changes the options displayed in the dropdown, List of Budgets. Choose the budget whose report you want to view and click View button.{% endtrans %} </font>
    
            </p>
          </div>
    
        </div>
      </div>
          </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewbudgetreport.js')}}"></script>
</body>
</html>

            