<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}List of Categories{% endtrans %}</title>
    <style type="text/css">

     td {
  	 font-size: 65%;
  	 color: black;
     }

     th {
  	 font-size: 70%;
     }

     @page {
	 size : 21cm 29.7cm;
	 margin : 10mm 10mm 20mm 10mm
     }
     thead{
	 display: table-header-group;
     }
     tfoot{
	 display: table-footer-group;
     }
     .narwrap{
	 width :10%;
     }
     .lngwrap{
	 width:50%;
     }
     .mdwrap{
	 width:25%;
     }
     .vlngwrap{
	 width:80%;
     }
     .totalwrap {
	 width:28%;
     }
     .rightJustified {
	 text-align: right;
     }

    </style>
  </head>

	<body>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-body">
					<div align="right">
						<strong><button type="button" data-dismiss ="modal" style="color:black; opacity:0.8; border:0; background:0; margin-top:-2%; font-size:25px">&times;</button></strong>
					</div>
				{%for data in total%}
					<div class="row">
						<div class="col-xs-4 text-left">
	  					<label for="vno">{% trans %}Voucher No{% endtrans %} : </label><label>&nbsp{{data["voucher"]["vouchernumber"]}}</label>
						</div>
						<div class="col-xs-4 text-center">
							{% if data["vtype"] =="contra" %}
								<label class="lblec"><i>{% trans %}Contra{% endtrans %}</i></label>
							{% elif data["vtype"]  == "payment" %}
								<label class="lblec"><i>{% trans %}Payment{% endtrans %}</i></label>
							{% elif data["vtype"]  == "receipt" %}
								<label class="lblec"><i>{% trans %}Receipt{% endtrans %}</i></label>
							{% elif data["vtype"]  == "journal" %}
								<label class="lblec"><i>{% trans %}Journal{% endtrans %}</i></label>
							{% elif data["vtype"]  == "sales" %}
								<label class="lblec"><i>{% trans %}Sales{% endtrans %}</i></label>
							{% elif data["vtype"]  == "purchase" %}
								<label class="lblec"><i>{% trans %}Purchase{% endtrans %}</i></label>
							{% elif data["vtype"]  == "creditnote" %}
								<label class="lblec"><i>{% trans %}Credit Note{% endtrans %}</i></label>
							{% elif data["vtype"]  == "debitnote" %}
								<label class="lblec"><i>{% trans %}Debit Note{% endtrans %}</i></label>
							{% elif data["vtype"]  == "salesreturn" %}
								<label class="lblec"><i>{% trans %}Sale Return{% endtrans %}</i></label>
							{% elif data["vtype"]  == "purchasereturn" %}
								<label class="lblec"><i>{% trans %}Purchase Return{% endtrans %}</i></label>
							{% endif %}
						</div>
						<div class="col-xs-4 text-right">
          		<label for="vdate">{% trans %}Date{% endtrans %} :</label><label>&nbsp{{data["voucher"]['voucherdate'][:2]}}&nbsp-{{data["voucher"]['voucherdate'][3:5]}}&nbsp-{{data["voucher"]['voucherdate'][6:]}}</label>
						</div>
					</div>
					<div class="table-responsive printorgdetails">
      			<table id="latable" class="table table-condensed table-bordered table-striped shadow">
							<thead>
          			<tr>
										<th class="lngwrap">
								{% trans %}Account Name{% endtrans %}
										</th>
										<th class="mdwrap rightJustified">
								{% trans %}Dr Amount{% endtrans %}
										</th>
										<th class="mdwrap rightJustified">
								{% trans %}Cr Amount{% endtrans %}
										</th>
									</tr>
								</thead>
								<tbody style="height:inherit">
									{% for dr in data["voucher"]["drs"] %}
										<tr>
											<td class="lngwrap">
													{% for acc in data["draccounts"] %}
														{% if dr==acc['accountname'] %}
															{{acc['accountname']}}
														{% endif %}
													{% endfor %}
											</td>
											<td class="mdwrap text-right">
												{{data["voucher"]["drs"][dr]}}
											</td>
											<td class="mdwrap">
											</td>
										</tr>
									{% endfor %}
									{% for cr in data["voucher"]["crs"] %}
										<tr>
											<td class="lngwrap">
													{% for acc in data["craccounts"] %}
														{% if cr==acc['accountname'] %}
												{{acc['accountname']}}
														{% endif %}
													{% endfor %}
												</select>
											</td >
											<td class="mdwrap">
											</td>
											<td class="mdwrap text-right">
												{{data["voucher"]["crs"][cr]}}
											</td>
										</tr>
									{% endfor %}
										<tr>
										<td class="lngwrap">
								<label>{% trans %}Total{% endtrans %}</label>
										</td>
										<td class="mdwrap text-right">
								{{data["voucher"]["totaldr"]}}
										</td>
										<td class="mdwrap text-right">
								{{data["voucher"]["totalcr"]}}
										</td>
									</tr>	
								</tbody>
								<tfoot>
									
							<tr>
								<td colspan="3">
						{% trans %}Narration{% endtrans %} : {{data["voucher"]["narration"]}}
								</td>
						</tr>
						{% if  data["projects"] %}
							<tr>
								<td colspan="3">
						{% trans %}Project{% endtrans %} :
								{% for project in data["projects"] %}
									{% if project['projectcode']==data["voucher"]["project"] %}
										{{project['projectname']}}
									{% endif %}
								{% endfor %}
								{% if data["voucher"]["project"]==None %}
									{% trans %}None{% endtrans %}
								{% endif %}
								</td>
							</tr>
						{% endif %}
								</tfoot>
							</table>
					</div>
				{%endfor%}
				</div>
				<div>  {# modal-content#}
			</div>
		</div>	


	</body>
  </html>
	